@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Брендовые цвета */

  --color-primary: #AA266F;
  --color-primary-foreground: #FFFFFF;
  --color-primary-hover: #8f1f5d;

  --color-lime-lab: #D2E028;
  --color-lime-lab-foreground: #333333;
  --color-lime-lab-hover: #c6d325;

  --color-brand-blue: #234765;
  --color-brand-purple: #8B7CEC;

  /* цвета для фильтров и кнопок */
  --color-bg-blue-soft: #F2F9FF;
  --color-bg-blue-soft-hover: #E1F0FF;
  --color-brand-blue-secondary: #5885AB;

  /* Текст */
  --text-main: #333333;
  --text-brand: var(--color-brand-blue);
  --text-muted: #94A3B8;

  /* Фоны */
  --bg-soft: #F0F2F5;
  --bg-pink: #CF5EAA;
  --bg-pink-soft: #FFF6FC;
  --bg-blue-light: #D9EEFF;
  --bg-lime-light: #EAFFB8;
  --bg-input: #E9EEF4;

  /* Системные */
  --color-destructive: #E31E24;
  --color-destructive-foreground: #FFFFFF;

  --color-muted: #F3F4F6;
  --color-muted-foreground: #6B7280;

  --color-card: #FFFFFF;
  --color-card-foreground: #333333;

  --color-border: #E5E7EB;
  --color-input: #E5E7EB;

  --radius-lg: 0.5rem;
  --radius-md: 0.375rem;
  --radius-sm: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-din);
  --font-mono: var(--font-geist-mono);

  /* Мапинг цветов в классы Tailwind */
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-primary-hover: var(--color-primary-hover);

  --color-lime-lab: var(--color-lime-lab);
  --color-lime-lab-foreground: var(--color-lime-lab-foreground);
  --color-lime-lab-hover: var(--color-lime-lab-hover);

  --color-brand-blue: var(--color-brand-blue);
  --color-brand-purple: var(--color-brand-purple);

  --color-bg-blue-soft: var(--color-bg-blue-soft);
  --color-bg-blue-soft-hover: var(--color-bg-blue-soft-hover);
  --color-brand-blue-secondary: var(--color-brand-blue-secondary);

  --color-text-main: var(--text-main);
  --color-text-brand: var(--text-brand);
  --color-text-muted: var(--text-muted);
  --color-bg-soft: var(--bg-soft);
  --color-bg-pink-soft: var(--bg-pink-soft);
  --color-bg-blue-light: var(--bg-blue-light);
  --color-bg-lime-light: var(--bg-lime-light);
  --color-bg-input: var(--bg-input);

  --color-destructive: var(--color-destructive);
  --color-destructive-foreground: var(--color-destructive-foreground);

  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);

  --color-card: var(--color-card);
  --color-card-foreground: var(--color-card-foreground);

  --color-border: var(--color-border);
  --color-input: var(--color-input);

  --radius-lg: var(--radius-lg);
  --radius-md: var(--radius-md);
  --radius-sm: var(--radius-sm);

  --breakpoint-2xl: 1280px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-din), Arial, Helvetica, sans-serif;
}

@layer utilities {

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}