@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Брендовые цвета */

  --color-primary: #B80E80;
  --color-primary-foreground: #FFFFFF;
  --color-primary-hover: #a6006f;
  --color-lime-lab: #CADE00;
  --color-lime-lab-foreground: #333333;
  --color-lime-lab-hover: #EBF8C7;

  --color-brand-blue: #234765;
  --color-brand-purple: #8B7CEC;

  /* цвета для фильтров и кнопок */
  --color-bg-blue-soft: #F2F9FF;
  --color-bg-blue-soft-hover: #E1F0FF;
  --color-brand-blue-secondary: #5885AB;
  --color-brand-blue-accent: #41698B;
  --color-brand-blue-accent-hover: #34536D;

  --color-bg-modal-overlay: rgba(51, 51, 51, 0.8);
  --color-bg-blue-lightest: #F2F5F8;

  /* Текст */
  --text-main: #0F172A;
  --text-primary: #B80E80;
  --text-main-dark: #1F2937;
  --text-brand: var(--color-brand-blue);
  --text-muted: #94A3B8;

  /* Фоны */
  --bg-soft: #F0F2F5;
  --bg-pink: #AA266F;
  --bg-pink-soft: #FFF6FC;
  --bg-blue-light: #D6ECFF;
  --bg-blue-accent-soft: #E5F2FF;
  --bg-lime-light: #EAFFB8;
  --bg-input: #E9EEF4;
  --color-brand-blue-border-light: #D9E6F2;

  /* Акценты */
  --color-brand-lime: #BEDE00;
  --color-brand-teal: #008D95;
  --color-brand-blue-deep: #314f5e;
  --color-brand-blue-accent-dark: #0055A6;

  /* Системные */
  --color-destructive: #E31E24;
  --color-destructive-foreground: #FFFFFF;

  --color-muted: #F3F4F6;
  --color-muted-foreground: #6B7280;

  --color-card: #FFFFFF;
  --color-card-foreground: #333333;

  --color-border: #E5E7EB;
  --color-input: #E5E7EB;

  --radius-lg: 0.5rem;
  --radius-md: 0.375rem;
  --radius-sm: 0.25rem;

  /* Градиенты */
  --gradient-button-start: #CADE00;
  --gradient-button-middle: #FF58BC;
  --gradient-button-end: #CADE00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-din);
  --font-mono: var(--font-geist-mono);

  /* Мапинг цветов в классы Tailwind */
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-primary-hover: var(--color-primary-hover);

  --color-lime-lab: var(--color-lime-lab);
  --color-lime-lab-foreground: var(--color-lime-lab-foreground);
  --color-lime-lab-hover: var(--color-lime-lab-hover);

  --color-brand-blue: var(--color-brand-blue);
  --color-brand-purple: var(--color-brand-purple);

  --color-bg-blue-soft: var(--color-bg-blue-soft);
  --color-bg-blue-soft-hover: var(--color-bg-blue-soft-hover);
  --color-brand-blue-secondary: var(--color-brand-blue-secondary);

  --color-text-main: var(--text-main);
  --color-text-main-dark: var(--text-main-dark);
  --color-text-brand: var(--text-brand);
  --color-text-muted: var(--text-muted);
  --color-bg-soft: var(--bg-soft);
  --color-bg-pink-soft: var(--bg-pink-soft);
  --color-bg-blue-light: var(--bg-blue-light);
  --color-bg-blue-accent-soft: var(--bg-blue-accent-soft);
  --color-bg-lime-light: var(--bg-lime-light);
  --color-bg-input: var(--bg-input);
  --color-border-blue-light: var(--color-brand-blue-border-light);

  --color-brand-lime: var(--color-brand-lime);
  --color-brand-teal: var(--color-brand-teal);
  --color-brand-blue-deep: var(--color-brand-blue-deep);
  --color-brand-blue-accent-dark: var(--color-brand-blue-accent-dark);


  --color-brand-blue-accent: var(--color-brand-blue-accent);
  --color-brand-blue-accent-hover: var(--color-brand-blue-accent-hover);
  --color-bg-modal-overlay: var(--color-bg-modal-overlay);
  --color-bg-blue-lightest: var(--color-bg-blue-lightest);

  --color-destructive: var(--color-destructive);
  --color-destructive-foreground: var(--color-destructive-foreground);

  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);

  --color-card: var(--color-card);
  --color-card-foreground: var(--color-card-foreground);

  --color-border: var(--color-border);
  --color-input: var(--color-input);

  --radius-lg: var(--radius-lg);
  --radius-md: var(--radius-md);
  --radius-sm: var(--radius-sm);

  --breakpoint-2xl: 1280px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-din), Arial, Helvetica, sans-serif;
}

@layer utilities {

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


  .bg-brand-gradient {
    background-image: linear-gradient(to right, #E2F285 0%, #FAB3C9 50%, #E2F285 100%);
    background-size: 200% auto;
    background-position: left center;
    transition: background-position 0.3s ease-in-out, box-shadow 0.3s ease;
  }

  .bg-brand-gradient:hover {
    background-position: right center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
}


@layer components {
  .container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-gradient {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-main);
    transition: all 0.3s;
    background: linear-gradient(to right,
        var(--gradient-button-start),
        var(--gradient-button-middle),
        var(--gradient-button-end));
    background-size: 200% auto;
    background-position: left center;
  }

  .btn-gradient:hover {
    background-position: right center;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }
}